.main-div, #root, body {
    z-index: -2;
    position: relative;
}

.navbar {
    background-color: rgb(241, 237, 228);
    height: 80px;
    width: "100%";
}

.nav-links {
    display: inline;
    font-family: 'Bebas Neue', sans-serif;
    color: #424242;
    border: none;
    background-color: rgb(241, 237, 228);
    font-size: 25px;
    /* padding: 20px 20px 15px 20px; */
    height: 74px;
    padding: 8px 20px 6px 20px;
}

.first-hero {
    height: 570px;
    background-image: url("./images/background.png");
    background-size: cover;
    width: "100%";
    padding: 0;
    margin: 0;
}

.first-hero-h1 {
    font-size: 80px;
    padding-left: 20px;
    margin-top: 30px;
    color: #292b2b;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}

.first-hero-p1 {
    padding-left: 10px;
    padding-top: 50px;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #2b2827ac;
}

.first-hero-models {
    height: 570px;
    float: right;
    padding-right: 50px;
}

.first-hero-div1 {
    float: left;
    margin-left: 100px;
}

.first-hero-p2 {
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    margin: 0px;
    color: #424242;
}

.catalouge-btn {
    margin-left: 20px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    /* margin-left: 65px; */
    margin-top: 50px;
    background-color: #C5B7A3;
    border: none;
    color: #EFEBE4;
    border-radius: 10px;
}

.second-hero {
    height: 534px;
    background-color: #FFFEFE;
    background-size: cover;
    width: "100%";
    padding: 0;
    margin: 0;
    z-index: -1;
    position: relative;
}

.second-color {
    z-index: 0;
    position: relative;
    width: "100%";
    height: 50px;
    background-color: #f5f1e93a;
    margin-top: -40px;
}

.second-hero-shoe {
    height: 217px;
    width: 360px;
    margin-left: 120px;
    margin-top: 150px;
    float: left;
    z-index: 1;
    position: relative;
    display: inline;
}

.second-hero-hoodie-1 {
    height: 501px;
    width: 223px;
    margin-left: 170px;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    display: inline;
}

.second-hero-hoodie-2 {
    height: 501px;
    width: 223px;
    margin-left: 180px;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    display: inline;
}

.divider {
    background-color: #f5f1e93a;
    height: 20px;
    width: "100%";
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 0;
  }
  
.left-line {
  height: 3px;
  width: 550px;
  background-color: #ece5d9;
  margin-left: 110px; /* Adjust the top margin as needed */
}

.right-line {
  height: 3px;
  width: 550px;
  background-color: #ece5d9;
  margin-right: 110px; /* Adjust the top margin as needed */
}


.middle-circle {
  height: 20px;
  width: 20px;
  background-color: #424242e4;
  border-radius: 50%;
  margin-bottom: 35px;
}

.text-box-p-1, .text-box-p-2 {
  display: inline;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

.text-box-p-3  {
  display: flex;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  padding-top: 10px;
  align-items: center;
  color: #a18c6e;
}

.text-box-p-1 {
  color: #d1c6b5;
}
.third-hero-container {
  background-color: #f5f1e93a;
  display: flex;
  justify-content: center;
  width: "100%";
  height: 320px;
  padding-top: 20px;
}

.third-hero {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.text-box-header {
  font-family: 'Kanit', sans-serif;
  color: #2b2827ac;
  font-size: 35px;
  word-wrap: break-word;
}

.text-box-p-2 {
  font-weight: bold;
  margin-left: 5px;
  color: #a18c6e;
}

.text-box {
  width: 420px;
  padding-left: 30px;
  padding-right: 30px;
}

.fourth-hero {
  width: "100%";
  height: 600px;
  background:#F2EEE6;
}

.first-column-4-hero, .second-column-4-hero, .third-column-4-hero {
  display: inline-block;
}


