.main-div, #root, body {
    z-index: -2;
    position: relative;
}

.navbar {
    background-color: rgb(241, 237, 228);
    height: 80px;
    width: "100%";
    z-index: 1;
    position: relative;
}

.nav-links {
    display: inline;
    font-family: 'Bebas Neue', sans-serif;
    color: #424242;
    border: none;
    background-color: rgb(241, 237, 228);
    font-size: 25px;
    /* padding: 20px 20px 15px 20px; */
    height: 74px;
    padding: 8px 20px 6px 20px;
}

.first-hero {
    height: 570px;
    background-image: url("./images/background.png");
    background-size: cover;
    width: "100%";
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 30px rgba(198, 197, 197, 0.832);
}

.first-hero-h1 {
    font-size: 80px;
    padding-left: 20px;
    margin-top: 30px;
    color: #292b2b;
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    margin-bottom: 25px;
}

.first-hero-p1 {
    padding-left: 10px;
    padding-top: 50px;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    letter-spacing: 5px;
    margin: 0px;
    color: #2b2827ac;
}

.first-hero-models {
    height: 570px;
    float: right;
    padding-right: 50px;
    margin-top: 3px;
}

.first-hero-div1 {
    float: left;
    margin-left: 70px;
}

.first-hero-p2 {
    padding-left: 20px;
    padding-top: 10px;
    font-family: 'Prompt', sans-serif;
    font-weight:300;
    font-size: 25px;
    margin: 0px;
    color: #424242;
    margin-left: 5px;
}

.catalouge-btn {
    margin-left: 20px;
    font-family: 'Teko', sans-serif;
    font-size: 30px;
    padding: 20px 30px 20px 30px;
    /* margin-left: 65px; */
    margin-top: 50px;
    background-color: #C5B7A3;
    border: none;
    color: #EFEBE4;
    border-radius: 10px;
}

.second-hero {
    height: 534px;
    background-color: #FFFEFE;
    background-size: cover;
    width: "100%";
    padding: 0;
    margin: 0;
    margin-top: 10px;
    z-index: -1;
    position: relative;
}

.second-color {
    z-index: 0;
    position: relative;
    width: "100%";
    height: 50px;
    background-color: #f5f1e93a;
    margin-top: -40px;
}

.second-hero-shoe {
    height: 217px;
    width: 360px;
    margin-left: 120px;
    margin-top: 150px;
    float: left;
    z-index: 1;
    position: relative;
    display: inline;
}

.second-hero-hoodie-1 {
    height: 501px;
    width: 223px;
    margin-left: 170px;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    display: inline;
}

.second-hero-hoodie-2 {
    height: 501px;
    width: 223px;
    margin-left: 180px;
    margin-top: 20px;
    z-index: 1;
    position: relative;
    display: inline;
}

.divider {
    background-color: #f5f1e93a;
    height: 20px;
    width: "100%";
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    padding-bottom: 0;
  }
  
.left-line {
  height: 3px;
  width: 420px;
  background-color: #ece5d9;
  margin-left: 240px;
}

.right-line {
  height: 3px;
  width: 420px;
  background-color: #ece5d9;
  margin-right: 240px;
}


.middle-circle {
  height: 20px;
  width: 20px;
  background-color: #424242bd;
  border-radius: 50%;
  margin-bottom: 35px;
  margin-top: -10px;
}

.text-box-p-1, .text-box-p-2 {
  display: inline;
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
}

.text-box-p-3  {
  display: flex;
  font-size: 18px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  padding-top: 25px;
  align-items: center;
  color: #a18c6e;
  line-height: 1.5;
}

.text-box-p-1 {
  color: #d1c6b5;
}
.third-hero-container {
  background-color: #f5f1e93a;
  display: flex;
  justify-content: center;
  width: "100%";
  height: 300px;
  padding-top: 20px;
}

.third-hero {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.text-box-header {
  font-family: 'Kanit', sans-serif;
  color: #2b2827f0;
  font-size: 32px;
  word-wrap: break-word;
  letter-spacing: 3px;
  margin-bottom: 6px;
}

.text-box-p-2 {
  font-weight: bold;
  margin-left: 5px;
  color: #a18c6e;
}

.text-box {
  width: 420px;
  padding-left: 30px;
  padding-right: 30px;
}

.fourth-hero {
  width: "100%";
  height: 800px;
  background:#F2EEE6;
  box-shadow: 0 10px 30px rgba(198, 197, 197, 0.832);
}

.first-column-4-hero, .second-column-4-hero, .third-column-4-hero {
  display: inline-block;
}

.first-column-4-hero {
  margin-left: 70px;
  margin-top: 80px;
  width: 340px;
  float: left;
}

.first-c-p-1 {
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: #a18c6e;
  letter-spacing: 5px;
}

.first-c-h2 {
  font-family: 'Kanit', sans-serif;
  color: #2b2827f0;
  font-size: 30px;
  letter-spacing: 3px;
  margin-top: 100px;
}

.first-c-p-3, .first-c-p-4 {
  word-wrap: break-word;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #a18c6e;
  line-height: 2;
}

.first-c-p-3 {
  margin-top: 8px;
  
}

.first-c-p-4 {
  padding-top: 30px;
}

.first-c-p-2 {
  font-size: 17px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #a18c6ebe;
  margin-bottom: 0;
  margin-top: 55px;
}

.second-c-h2 {
  font-family: 'Kanit', sans-serif;
  color: #2b2827f0;
  font-size: 25px;
  letter-spacing: 3px;
}

.second-column-4-hero {
  margin-top: 235px;
  margin-left: 50px;
}

.second-c-p-1, .second-c-p-2, .second-c-p-3 {
  word-wrap: break-word;
  font-size: 16px;
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
  color: #a18c6e;
  line-height: 2;
}

.second-c-p-1 {
  margin-bottom: 0px;
  margin-top: 35px;
  color: #a18c6ebe;
  font-size: 14px;
}

.second-c-p-2 {
  margin-top: 0px; 
}

.third-column-4-hero {
  float: right;
  margin-top: 150px;
  margin-right: 10px;
}

.hoodie-pic {
  height: 380px;
  margin-left: 27px;
}

.outfit-card-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 20px;
}

.outfit-card-p-1-2-container {
  padding-top: 40px;
  text-align: center;
  margin-top: 0;
}

.outfit-card-container > * {
  text-align: center;
  font-family: 'Kanit', sans-serif;
}

.outfit-card-h2-1-2-container > * {
  display: inline;
  font-size: 20px;
}

.outfit-card-p-3-4-container > * {
  display: inline;
}

.outfit-card-p-1-2-container > * {
  display: inline;
}

.outfit-card-h2-1 {
  margin-right: 40px;
}

.outfit-card-p-4 {
  margin-left: 30px;
  margin-right: 0;
}

.outfit-card-p-1 {
  margin-right: 10px;
  margin-left: 10px;
  font-family: 'Prompt', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.outfit-card-p-3 {
  font-family: 'Prompt', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.outfit-card-p-2, .outfit-card-p-4 {
  color: #A18C6E;
  font-size: 18px;
}

.outfit-card-h2-1-2-container {
  margin-top: 35px;
  margin-right: 53px;
  color: #2b2827ac;
}

.outfit-card-p-3-4-container {
  margin-top: 10px;
}

.footer {
  width: "100%";
  height: 500px;
  background-color: #FFFEFE;
  z-index: -1;
  position: relative;
}

.footer-image {
  float: right;
}




